:root {
    --weird-red: #f44336
}

iframe{
    border-width: 0;
}

.social-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: center;
    /*flex-shrink: 1;*/
    float: right;

}

.social-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    font-family: "Montserrat", sans-serif;
    margin: 10px 5px;
    border-left: 4px solid;
    border-radius: 2px;
}

.social-link.twitter {
    border-color: deepskyblue;
}

.social-link.github {
    border-color: black;
}

.social-link.instagram {
    border-color: purple;
}

.social-link.discord {
    border-color: #36393f;
}

.main-text {
    font-size: 18px;
    color: black;
    word-break: break-word;
    font-weight: 400;
    padding-bottom: 30px;
}

.subtext {
    font-size: 14px;
    color: gray;
    font-weight: 400;
    padding-bottom: 0;
}

.score, .high-score {
    padding: 5px;
    font-family: "Montserrat", sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}

.links-bar {
    float: left;
}
.nav-bar {
    width: 100%;
    position: fixed;
    background-color: #e14336;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.nav-button {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 24px;
    display: block;
    float: left;

}

.nav-home {
    background-color: white;
    color: black;
    text-shadow: 2px 1px lightgrey;
}

.nav-link {
    background-color: inherit;
    color: white;
    text-shadow: 2px 1px darkred;
}

.nav-button:hover {
    text-shadow: none;
}

.nav-home:hover {
    background-color: lightgray;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.foot {
    background-color: #a0a0a0;
    display: flex;
    color: white;
    margin-top: 10px;
    float: bottom;
    justify-content: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.foot.credit {
    text-align: center;
}