:root {
    --weird-red: #f44336
}

.social-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.social-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    font-family: "Montserrat", sans-serif;
    margin: 10px 5px;
    border-left: 4px solid;
    border-radius: 2px;
}

.social-link.twitter {
    border-color: deepskyblue;
}

.social-link.github {
    border-color: black;
}

.social-link.instagram {
    border-color: purple;
}

.social-link.discord {
    border-color: #36393f;
}

.main-text {
    font-size: 18px;
    color: black;
    word-break: break-word;
    font-weight: 400;
    padding-bottom: 30px;
}

.subtext {
    font-size: 14px;
    color: gray;
    font-weight: 400;
    padding-bottom: 0px;
}

.score, .high-score {
    padding: 5px;
    font-family: "Montserrat", sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}