.levels {
    width: inherit;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

button {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    border-bottom-color: darkgray;
    border-right-color: darkgray;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
}



.score-info {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;

}
#gameCanvas {
    margin: auto;
}
.horizontal-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.score-item {
    padding: 10px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.timer {
    padding-top: 10px;

    margin: auto;
}
