[submodule "projects/D2API"]
	path = projects/D2API
	url = https://github.com/noodleWrecker7/Destiny2ApiCaller.git
[submodule "projects/tetris"]
	path = projects/tetris
	url = https://github.com/noodleWrecker7/JSTetris.git
[submodule "projects/snake"]
	path = projects/snake
	url = https://github.com/noodleWrecker7/JSSnake.git
[submodule "projects/pong"]
	path = projects/pong
	url = https://github.com/noodleWrecker7/JSPong.git
[submodule "projects/platformer"]
	path = projects/platformer
	url = https://github.com/noodleWrecker7/JSPlatformer.git
