node_modules/
.idea/

/projects/spotifyJobs/spotifyRedirectURI
/projects/CrossyRoad/assets/dataSheet.json
/projects/CrossyRoad/crossyroad.js
/projects/CrossyRoad/assets/dataSheet.png
/projects/CrossyRoad/raw_assets/grassland/grass-curb-bottom.png
/projects/CrossyRoad/raw_assets/grassland/grass-curb-top.png
/projects/CrossyRoad/index.html
/projects/CrossyRoad/main.js
/projects/CrossyRoad/package.json
/projects/CrossyRoad/package-lock.json
/projects/CrossyRoad/README.md
/projects/CrossyRoad/raw_assets/grassland/road-blank.png
/projects/CrossyRoad/raw_assets/grassland/road-line-both.png
/projects/CrossyRoad/raw_assets/grassland/road-line-bottom.png
/projects/CrossyRoad/raw_assets/grassland/road-line-top.png
/projects/CrossyRoad/test.png
/projects/CrossyRoad/raw_assets/texture pack.tps
/projects/CrossyRoad/Untitled.png
/projects/CrossyRoad/Untitled.xcf
