* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header, footer {
    text-align: center;
    padding: 20px;
    width: 100%
}

header {
    background-color: #03F7FB
}

footer {
    background-color: #FFFFEA;
    bottom: 0;
}

.topnav {
    overflow: hidden;
    background-color: rgb(3, 193, 251);
    /*width: 100%;*/
    
}
.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    font-size:  20px;
}

.topnav a:hover {
    background-color:  rgb(3, 222, 251);
}
.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 24%;
}
.column.main {
    width: 74%;
}

.row {
    padding-left: 1%;
    padding-right: 1%;
}




.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}