.title-box {
    background-color: #f44336;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.nav-bar {
    margin-right: auto;
    width: 100%;
    position: fixed;
    background-color: #e34336;
}

.nav-button {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 24px;
    display: block;
    float: left;

}

.nav-home {
    background-color: white;
    color: black;
    text-shadow: 2px 1px lightgrey;
}

.nav-link {
    background-color: #f44336;
    color: white;
    text-shadow: 2px 1px darkred;
}

.nav-button:hover {
    text-shadow: none;
}

.nav-home:hover {
    background-color: lightgray;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.title {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 14px;
}

.sub-heading {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}

.social-bar {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    font-family: "Montserrat", sans-serif;
    margin: 10px 5px;
    border-left: 4px solid;
    border-radius: 2px;
}

.social-link.twitter {
    border-color: deepskyblue;
}

.social-link.github {
    border-color: black;
}

.social-link.instagram {
    border-color: purple;
}

.social-link.discord {
    border-color: #36393f;
}
.main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
}
.content-chunk {
    flex: 1 1 auto;
    flex-grow: 0;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.content {
    flex: 1 1 auto;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    clear: both;
}

.content-header {
    font-size: 40px;
}

.main-text {
    display: inline-flex;
    font-size: 20px;
    color: black;
    word-break: break-word;
}

.subtext {
    font-size: 13px;
    color: darkgray;
}

.content-side {
    width: 33%;
    flex-grow: 0;
    margin-top: 40px;
    padding: 40px;
    font-size: 200px;
    color: #f44336;
    height: 100%;
}

.content-side.java {
    font-size: 275px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grey {
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}

.foot {
    display: flex;
    color: grey;
    margin-top: 20px;
    float: left;
    justify-content: center;
    width: 100%;
}

.foot.credit {
    text-align: center;
}