.title-box {
    background-color: var(--weird-red);
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


.title {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 14px;
}

.sub-heading {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.social-bar {
    padding: 5px 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    flex-shrink: 1;
}

.social-link {
    font-size: 15px;
}

.page-chunk {
    flex-grow: 1;
    width: 100%;
    /*display: inherit;*/
    display: flex;
    font-family: "Montserrat", sans-serif;
    flex-flow: row nowrap;
    align-items: center;
    /*padding: 20px 250px;*/
    /*justify-content: space-between;*/
}

.row {
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
}

.canv {
    float: right;
    justify-self: center;
    margin-right: 33%;
    padding-bottom: 20px;
}

.scores-tab {
    float: left;
}

.canvasContainer {
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
}

.scoresDef {
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
    padding-left: auto;
    padding-right: auto;
}

.tetrisCanvases {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
}

#tetrisNextBlock, #tetrisHoldBlock {
    margin: 10px;
    height: 165px;
}
#tetrisCanvas {
    margin: 10px;
}