.boxes {
    width: inherit;
    margin-right: 25%;
    margin-left: 25%;

}
.english {

}
.texts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
}

.english {
    float: left;
}

.ginger {
    float: right;
}