.flappy-container {
    background-color: #f44336;
    position: relative;
}

canvas {
    margin: 0;
}

.flappy-head {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0 0;
    background-color: #f44336;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.flappy-foot {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    background-color: #f44336;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -4px;
}

@font-face {
    font-display: auto;
    font-family: flappy bird;
    src: url(../../webfonts/FB.eot);
    src: url(../../webfonts/FB.eot?#iefix) format("embedded-opentype"),url(../../webfonts/FB.woff) format("woff"),url(/../../webfonts/FB.ttf) format("truetype"),url(/../../webfonts/FB.svg#04b_19regular) format("svg");
    font-weight: 400;
    font-style: normal
}